/** Standard Styling **/
body {
  font-size: 16px;
  font-family: 'Oxygen', sans-serif;
  background-color: #f8f9fa;
}
a {
  color:inherit;
  text-decoration: none;
}
h1, h3, h4, h5, h6 {
  font-weight: bold;
  font-family: 'Raleway', sans-serif;
}
h4 {
  color: #dc3545;
}
h3 {
  color: #ffffff;
}
thead {
  color: #ed1c24;
  font-weight: bold;
}


/** Media Queries Mobile Viewport 380px and lower**/
@media only screen and (max-width: 380px) {
  .carousel-inner h1 {
    font-size: 1.4rem;
  }
  .clerk-update h3 {
    font-size: 1.2rem;
  }
}

/** Media Queries Mobile Viewport **/
@media only screen and (max-width: 576px) {
  .navHide {
    display: none;
  }
  h1 {
    font-size: 1.9rem;
  }
  h3 {
    font-size: 1.4rem;
  }
  h4 {
    font-size: 1.2rem;
  }
  .navbar-brand img {
    width: 130px;
  }
  .mobile-almanac {
    font-size: 0.7rem;
  }
  .mobile-almanac h5 {
    font-size: 0.8rem;
  }
  .heading {
    text-align: center;
    font-weight: bold;
  }
  footer {
     font-size: 0.8rem;
  }
}

/** Media Queries Tablet and below**/
@media only screen and (max-width: 768px) {
  .clerk-info {
    display: none;
  }
}

/** Media Queries Laptop View **/
@media only screen and (min-width: 992px) {
  .navigation ul li {
    text-transform: uppercase;
  }

  .media-section h3 {
    font-size: 1.3rem;
  }
}

/** HOMEPAGE **/
/** Navigation Styling **/
.navigation {
 font-family: 'Raleway', sans-serif;
}
.navigation a:hover {
 text-decoration-line: none;
 color: #dc3545;
}
.navigation .active {
  color: #dc3545;
}
.carousel-caption a {
  text-decoration: none;
  color: inherit;
}
.special a:hover {
  text-decoration: none;
}
.event a:hover {
  text-decoration: none;
}

/** Footer **/
footer {
 background-color: #343a40;;
 color: #ffffff;
}
footer a:hover {
  color: inherit;
}
footer .copyright {
   font-size: 0.9rem;
}
/** HOMEPAGE ENDS **/

[data-title]:hover:after {
   opacity: 1;
   transition: all 0.1s ease 0.3s;
   visibility: visible;
}
[data-title]:after {
   content: attr(data-title);
   position: absolute;
   top: 2rem;
   left: 20%;
   padding: 5px;
   color: #222;
   white-space: nowrap;
   border-radius: 5px;
   box-shadow: 0px 0px 4px #222;
   opacity: 0;
   z-index: 99999;
   font-size: 14px;
   font-weight: bold;
   font-family: cursive;
   visibility: hidden;
}
[data-title] {
   position: relative;
}

 /** MINISTRY **/
.ministry a {
  text-decoration-line: none;
 }
.card-header {
  background-color: #007bff;
  color: #ffffff;
 }
.card-header:hover {
  background: #e9ecef;
}

 /** COMMITTEES **/
 .tab-content a:hover {
   text-decoration: none;
   color: #ed1c24;
 }
 .committee {
   border-radius: 5px;
   background-color: #007bff;
   color: #ffffff;
 }
 .committee a:hover {
   text-decoration: none;
   color: inherit;
 }
 .committee-info {
   display: none;
 }
 .committee a:hover .committee-info {
   display: block;
   background-color: #ffffff;
   color: #000000;
   border-radius: 5px;
 }

 /** SESSION **/
 .flip-card-front {
   border-radius: 8px;
   box-shadow: 0rem 0.8rem 0.5rem 0.8rem rgba(0,0,0,.1);
 }

/** Announcement & Programmes**/
.topic h6 {
    color: #ed1c24;
    line-height: 2;
  }
