/** Standard Styling **/
body {
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
}
a {
  color:inherit;
}
h1, h5, h6{
  font-weight: bold;
  font-family: 'Raleway', sans-serif;
}
[data-title]:hover:after {
   opacity: 1;
   transition: all 0.1s ease 0.3s;
   visibility: visible;
}
[data-title]:after {
   content: attr(data-title);
   position: absolute;
   top: 2rem;
   left: 20%;
   padding: 5px;
   color: #222;
   white-space: nowrap;
   border-radius: 5px;
   box-shadow: 0px 0px 4px #222;
   opacity: 0;
   z-index: 99999;
   font-size: 14px;
   font-weight: bold;
   font-family: cursive;
   visibility: hidden;
}
[data-title] {
   position: relative;
}

 /** Navigation Styling **/
#navigation {
  font-family: 'Raleway', sans-serif;
}
#navigation a:hover {
  text-decoration-line: none;
  color: #ed1c24;
 }
#navigation li:first-child {
  color: #ed1c24;
}
.menu-img {
  max-width: 350px;
}
.main-menu h5 {
  line-height: 2;
}

/** Footer Styling **/
footer {
 background-color: #282828;
 color: #c3c3c3;
 font-size: 14px;
}
footer a:hover {
  color: inherit;
}

 /** Ministry **/
.ministry p {
  font-size: 14px;
}
.ministry a {
  text-decoration: none;
 }
.card-header {
  background-color: #ed1c24;
  border-bottom: 1px solid rgba(0,0,0,.125);
  color: #ffffff;
  transition: backgorund 100ms ease-out 200ms;
 }
.card-header:hover {
  background: #e9ecef;
}

 /** Committees **/
 .tab-content a:hover {
   text-decoration: none;
   color: #ed1c24;
 }
 .committee {
   border-radius: 5px;
   background-color: #007bff;
   color: #ffffff;
 }
 .committee a:hover {
   text-decoration: none;
   color: inherit;
 }
 .committee-info {
   display: none;
 }
 .committee a:hover .committee-info {
   display: block;
   background-color: #ffffff;
   color: #000000;
   border-radius: 5px;
 }
 .membership li {
   line-height: 1.2;
 }

 thead {
   color: #ed1c24;
 }

/** Covid **/
.covid {
  max-width: 1200px;
}
.covid img {
  border-radius: 25px;
  box-shadow: 5px 10px #888888;
}

/** Announcement **/
.topic h6 {
    color: #ed1c24;
  }

/** Back Home **/
.back-home a {
  background-color: #282828;
  border-radius: 25px;
}
.back-home a:hover {
  background-color: #ed1c24;
  text-decoration-line: none;
}

/** Media Queries **/

@media only screen and (max-width: 768px) {
  h1 {
    font-size: 2rem;
  }

  .info a {
    font-size: 0.9rem;
  }
}

/** The Session **/
  .flip-card-front {
      border-radius: 8px;
      box-shadow: 0 0.2rem 0.5rem 0 rgba(0,0,0,.1);
      background: #fff;
  }
